
@{
    ViewBag.Title = "email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="font-family: 'Microsoft YaHei UI'; color:cornflowerblue;">Email landing page</h2>

<p style="font-family: 'Microsoft YaHei UI'; color:cornflowerblue;">@Html.Raw(ViewBag.email) </p>